@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    <h4 class="text-dark">Hello @User.Identity?.Name!&nbsp;<a class="link-dark" asp-page="/Account/Logout">Logout</a></h4>
    
}
else
{
    <h4><a class="link-dark" asp-page="/Account/Login">Login With Discord</a></h4>
}