@using Models
@model RoleSurveyPartialModel
@{
}
<div class="RoleSurvey">
    <div class="card w-50">
        <div class="card-body">            
            <form>
                <h5 class="text-success">Initial Message:</h5>
                <p id="InitialMessageRead" class="RoleSurveyRead">@Model.RoleSurvey.InitialMessage</p>
                <textarea id="InitialMessageEdit" class="RoleSurveyEdit mx-2 w-100 d-none" rows="5">@Model.RoleSurvey.InitialMessage</textarea>
                <h5 class="text-success">Allow Multi Select:</h5>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="AllowMultiSelect" value="false" disabled>
                </div>
                <div id="Options">
                    <h5 class="text-success">Options:</h5>
                    <button type="button" id="AddOption" class="btn btn-success mx-0 mb-2 d-none RoleSurveyEdit">Add</button>
                    <div id="OptionTemplate" style="display: none">
                        <div class="RoleSurveyOption border border-primary mb-1">
                            <p id="OptionTextRead" class="mb-0 RoleSurveyRead">This is option text.</p>
                            <input type="text" id="OptionTextEdit" class="RoleSurveyEdit w-100 d-none" value="Option Text Here..." />
                            <br class="d-none RoleSurveyEdit"/>
                            <label>Role To Award -> </label>
                            <label id="RoleToAwardNameDisplay" class="text-danger">None</label>
                            <input id="RoleToAwardId" type="hidden" value="0" />
                            <div class="d-none RoleSurveyEdit">
                                @await Html.PartialAsync("_RolesDropdown", new RolesDropdownPartialModel(){ButtonName="Select Role To Award", Roles=Model.AllRoles, AddNoneOption=true})
                                <button type="button" id="RemoveOption" class="btn btn-danger mx-0 mb-2">Remove</button>
                            </div>                            
                        </div>
                    </div>
                    <div id="OptionsJustAdded">
                    </div>
                    <div id="OptionsJustRemoved" style="display: none">
                    </div>
                </div>
                <h5 class="text-success">End Message:</h5>
                <p id="EndMessageRead" class="RoleSurveyRead">@Model.RoleSurvey.EndMessage</p>
                <textarea id="EndMessageEdit" class="RoleSurveyEdit mx-2 w-100 d-none" rows="5">@Model.RoleSurvey.EndMessage</textarea>
                <div class="btn-group" role="group">
                    <button type="button" id="EditRoleSurvey" class="btn btn-primary mx-2 RoleSurveyRead">Edit</button>
                    <button type="button" id="SaveRoleSurvey" class="btn btn-primary mx-2 RoleSurveyEdit d-none">Save</button>
                    <button type="button" id="CancelRoleSurvey" class="btn btn-secondary mx-2 RoleSurveyEdit d-none">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
