@page
@model WebApp.Pages.Home.CurrenciesModel
@{
}
<br />
<h1>Currencies:</h1>
@if(Model.IsCreatingNewCurrency)
{
    <form method="post">
        <input name="currencyName" type="text">
        <button asp-page-handler="CreateNewCurrency" type="submit" class="btn-btn-success">Create</button>
    </form>
}
else
{
    <a class="btn btn-success" asp-page-handler="CreatingCurrency">Create New Currency</a>
}

@foreach(var currency in Model.Currencies)
{
    <h2>@currency.Name</h2>
}

@section Scripts
{
    @if (ViewData["Message"] != null)
    {
        <script>
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
        </script>
    }
}