@using WebApp.Pages.Partials
@model AutomationDropdownModel
@{
}
<div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
		@Model.ButtonName
	</button>

	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		@foreach (var item in Model.Automations)
        {
            <button type="button" class="dropdown-item" id="SelectedId" value="@item.id">@item.desc</button>
        }
	</div>
</div>