@using WebApp.Pages.Partials
@model CurrencyDropdownPartialModel
@{
}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        @Model.ButtonName
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var currency in Model.Currencies)
        {
            <button type="button" class="dropdown-item DropdownSelectedCurrency" value="@currency.Id">@currency.Name</button>
        }
    </div>
</div>
