@page
@using WebApp.Pages.Partials
@model WebApp.Pages.Modules.Automations.IndexModel
@{
}
@Html.AntiForgeryToken()
<nav class="nav">
    <a class="nav-link active" aria-current="page" asp-page="/Home/Guilds">Guilds</a>
	<a class="nav-link active" aria-current="page" asp-page="/Home/Modules" asp-route-id="@Model.Guild.Id" asp-route-name="@Model.Guild.Name">Modules</a>
</nav>
<br />
<div>
	<h2 class="text-primary">Automations</h2>
</div>
<br /><br />
<div class="container p-3">
	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					When
				</th>
				<th>
					If
				</th>
				<th>
					Do
				</th>
				<th>
					After
				</th>
			</tr>
		</thead>
		<tbody id="TableRows">
			<tr id="Row">
				@foreach (var automation in Model.Automations)
				{
					<td>
						<div id="Display">
							<p id="NameDisplay">
							</p>
							<input id="Id" type="hidden" value="">
							@await Html.PartialAsync("/Pages/Partials/_AutomationDropdown.cshtml", new AutomationDropdownModel() { ButtonName = "Select Option", Automations = Model.WhenAutomations, AddNoneOption = true, DropdownId = "whenDropdown" })
							<input id="DoInfo" value="">
						</div>
					</td>
					<td id="Top">
						<div id="Display">
							<p id="NameDisplay">
							</p>
							<input id="Id" type="hidden" value="">
							@await Html.PartialAsync("/Pages/Partials/_AutomationDropdown.cshtml", new AutomationDropdownModel() { ButtonName = "Select Option", Automations = Model.IfAutomations, AddNoneOption = true, DropdownId = "ifDropdown" })
							<input id="IfInfo" value="">
							<button class="btn btn-primary mx-2" id="Add">
								Add
							</button>
						</div>
					</td>
					<td>
						<div id="Display">
							<p id="NameDisplay">
							</p>
							<input id="Id" type="hidden" value="">
							@await Html.PartialAsync("/Pages/Partials/_AutomationDropdown.cshtml", new AutomationDropdownModel() { ButtonName = "Select Option", Automations = Model.DoAutomations, AddNoneOption = true, DropdownId = "doDropdown" })
							<input id="DoInfo" value="">
							<button class="btn btn-primary mx-2" id="Add">
								Add
							</button>
						</div>
					</td>
					<td>
						<input id="AfterInfo" value="">
					</td>
					<td>
						<button type="submit" class="btn btn-primary mx-2">
							Save
						</button>
						<button type="submit" class="btn btn-danger mx-2" id="delete">
							Delete
						</button>
					</td>
				}
			</tr>
			<button type="submit" id="addnew" class="btn btn-primary mx-2">
				New Item
			</button>
		</tbody>
	</table>
</div>

@section Scripts
	{
	<script>
		$(document).on("click", "#SelectedId", function () {
			
			var Id = $(this).val();
			var Name = $(this).text();
			var Div = $(this).closest("#Display");
			if (Div.length != 0) {
				Div.find("#NameDisplay").text(Name);
				Div.find("#Id").val(Id);
				return;
			}
		})
	</script>
	@if (ViewData["Message"] != null)
	{
		<script>
			window.onload = function () {
				alert("@ViewData["Message"]");
			};
		</script>
	}

	<script>
	$(document).on("click", "#Add", function () {
		createNewDiv($(this));

		function createNewDiv(element) {
			var ref = element.closest("#Display");

			var clonedElement = ref.clone();
			ref.after(clonedElement);

			if (ref.find("#deletechoice").length === 0) {

				var deleteElement = $("#delete").clone();
				deleteElement.attr('id', 'deletechoice');
				clonedElement.append(deleteElement);
			}
		}

		return;
	});
	</script>

	<script>
		$(document).on("click", "#deletechoice", function () {
		$(this).closest("#Display").remove();
		return;
	});
	</script>

	<script>
		$(document).on("click", "#delete", function () {
		//$(this).closest("#Row").remove();
		return;
	});
	</script>

	<script>
		$(document).on("click", "#addnew", function () {
			var ref = $("#Row");
			var newItem = ref.clone();
			ref.after(newItem);
		});
	</script>
}